/* body{margin-top:20px;} */

.list-group-item{
    background-color: rgb(76, 81, 90);
    transition: 0.3s;
}

.moderation-member{
    border-radius: 10px;
}

.list-group-item{
    color: white;
}

.moderation-status {
    color: #34ce57
}

.chat-offline {
    color: #e4606d
}

.chat-input {
    border-top: 1px solid rgb(70, 70, 70);
}

.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 0
}

.chat-message-left {
    margin-right: auto
}

.chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto
}
.py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}
.px-4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}
.flex-grow-0 {
    flex-grow: 0!important;
}
.border-top {
    border-top: none!important;
}
.flex-grow-1.ml-3 {
    text-align: left;
}
.avatar-img{
    margin-right: 1rem;
}
.moderation-icon-control {
    margin-left: 10px;
}
.input-group input{
    transition: 0.3s;
    /* background: black; */
    border: none;
    color: #a3a3a3;
}
.input-group input:focus{
    background: rgb(46, 46, 46);
    color:#a3a3a3;
}
.input-group input:hover{
    background: rgb(46, 46, 46);
    color:#a3a3a3;
}
.send-chat-message-btn {
    /* background: #6c6c6c;
    border: none; */
}
.chat-message-left .bul-chat {
    margin-left: 15px;
}
.chat-message-right .bul-chat {
    margin-right: 15px;
}
.bul-chat{
    background: #484848!important;
    color: #a7a7a7;
}