<%- include ('header') %>
<form action="/" method="post" class="ui form">
    <div class="field">
        <label for="message"> Message </label>
        <textarea name="message" id="message" ></textarea>
    </div>
    <button class="ui blue labeled submit icon button">
        <i class="icon send"></i>Send
    </button>
</form>
<div class="ui comments">
    <h3 class="ui dividing header">Messages</h3>
    <% for (message of messages) {%>
        <div class="comment">
            <div class="content">
                <div class="metadata">
                    <div class="date">
                        <%= message.created_at %>
                    </div>
                </div>
                <div class="text"><%= message.content %></div>
            </div>
        </div>
    <% } %>
</div>
<%- include ('footer') %>