.media-area {
    .main-media {
        max-height: 80%;
        height: 80%;
        overflow: hidden;
        position: relative;
        background-color: black;
        .my-media {
            position: absolute;
            top: 10px;
            right: 10px;
            // box-shadow: 0 0 15px rgba(0,0,0,.5);
            video {
                // height: 200px;
                width: 250px;
                border-radius: 4px;
                &:hover {
                    transform : scale(1.05);
                }
            }
            .moderation-controls-container {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                height: 100%;
                transform: translate(-50%, -50%);
                opacity: 0;
                background-color: rgba(0,0,0,.5) ;
                border-radius: 5px;
                z-index: 99;
                &:hover {
                    opacity: 1;
                }
                .moderation-controls {
                    position: absolute;
                    left: 50%;
                    bottom:10px;
                    transform: translate(-50%, -50%);
                    .moderation-icon-control {
                        width: 20px;
                        height: 20px;
                        padding: 10px 12px;
                        border-radius: 100%;
                        color: rgb(163, 163, 163);
                        background-color: rgb(72, 72, 72);
                        &:hover {
                            background-color: white;
                            color: red;
                        }
                    }
                }
            }
        }
        video {
            width: 100%;
            height: 100%;
            border-radius: 4px;
        }
    }
    .secondary-media {
        display: flex;
        // flex-wrap: ;
        max-height: 30%;
        overflow-x: scroll;
        overflow-y: hidden;
        width: auto;
        // max-width: 100%;
        .their-media {
            // background-color: black;
            padding: 5px 5px 5px 0px;
            position: relative;
            video {
                border-radius: 4px;
                max-width: 250px;
            }
            .moderation-controls-container {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                height: 100%;
                transform: translate(-50%, -50%);
                opacity: 0;
                background-color: rgba(0,0,0,.5) ;
                z-index: 99;
                &:hover {
                    opacity: 1;
                }
                .moderation-controls {
                    position: absolute;
                    left: 50%;
                    bottom:10px;
                    transform: translate(-50%, -50%);
                    .moderation-icon-control {
                        width: 20px;
                        height: 20px;
                        padding: 10px 12px;
                        border-radius: 100%;
                        color: rgb(163, 163, 163);
                        background-color: rgb(72, 72, 72);
                        &:hover {
                            background-color: red;
                            color: white;
                        }
                    }
                    .active {
                        &:hover {
                            background-color: white;
                            color: red;
                        }
                        color: red;
                        background:none;
                    }
                }
            }
        }
        /* width */
        &::-webkit-scrollbar {
            margin-top: 5px;
            padding-top: 15px;
            // width: 20px;
            height: 7px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            // box-shadow: inset 0 0 5px grey;
            border-radius: 1px;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: grey;
            border-radius: 10px;
        }
    }
}
