.MuiBox-root {
    padding : 20px;
    .room-box {
        padding: 20px;
        p {
            text-align: justify;
        }
        .room-title {
            font-size: 1.3rem;
            color: white;
        }
        text-decoration: none;
        color: gray;
        &:hover {
            background-color: rgba(255,255,255,.1)
        }
        border: 1px solid rgba(255,255,255,.1);
        border-radius: 15px;
    }
}